.startScreen {
	display: flex;
	justify-content: center;
	height: 10%;
}

.nav {
	margin-top: 20px;
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}

.btnConts{
	margin: 10px;
	width: 30%;
}

.nav a {
	text-decoration: none;
	font-size:30px;
	font-weight: bold;
	color: rgba(12, 54, 23, 0.7);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	padding: 0 5%;
}

.container {
	margin: 20px auto 0;
	width:55%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	transition: margin 1s ease-out;
	border-radius: 5%; 
	gap:0.3%;
	background-image: url('../img/logo2.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.container.up {
	margin-top: -100vh;
}


.cart {
	height: 190px;
	text-align: center;
	backdrop-filter: blur(10px) saturate(143%);
   -webkit-backdrop-filter: blur(10px) saturate(143%);
   background-color: rgba(255, 255, 255, 0.4);
   border: 1px solid rgba(209, 213, 219, 0.3);
	font-size: 50px;
	border-radius: 19%;
/*	box-shadow: 1px 1px 2px lightgray;*/
	transition: background 1s;
}

.cart:hover {
	background: rgba(12, 54, 23, 0.4);
	transition: background 1s;
	cursor: pointer;
}

.cart:active {
	background: gray;
}

.cart img {
	margin: 3% auto;
	display: none;
	width: 85%;
	transition: 1s;
}

.winContainer{
	position: absolute;
	top: 30%;
	left: 10%;
	right:10%;
	font-size: 600%;
	text-align: center;
	font-weight: bold;
	color: gray;
	font-family: sans-serif;
	background-color: rgba(255, 255, 255, 0.67);
	border-radius: 25px;
}



@media screen and (max-width: 1600px) {
	.cart {
		height: 160px;
	}
}

@media screen and (max-width: 1350px) {
	.container {
		width:70%;}
	.cart {
		height: 180px;
	}
}

@media screen and (max-width: 1050px) {
	.container {
		width:80%;}
	.cart {
		height: 160px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		width:90%;
	}
	.cart {
		height: 150px;
	}
}

@media screen and (max-width: 740px) {
	.container {
		width:90%;}
	.cart {
		height: 130px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width:90%;}
	.cart {
		height: 100px;
	}
}

@media screen and (max-width: 500px) {
	.container {
		width:90%;}
	.cart {
		height: 90px;
	}
	.winContainer{
		top: 10%;
		font-size: 400%;}
}

@media screen and (max-width: 400px) {
	.container {
		width:90%;}
	.cart {
		height: 60px;
	}
}