.container {
	margin: 50px auto;
	width:45%;
	border:2px solid gray;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cart {
	border: 1px solid green;
	height: 200px;
	text-align: center;
	background-color: rgba(12, 54, 23, 0.1);
	font-size: 50px;
}

img {
	margin-top: 2%;
	margin-left: 4%;
	display: none;
	width: 90%;
	transition: 1s;
}

.winContainer{
	position: absolute;
	top: 30%;
	left: 10%;
	right:10%;
	font-size: 600%;
	text-align: center;
	font-weight: bold;
	color: purple;
	font-family: sans-serif;
	background: rgba(100, 100, 100, 0.2);
	border-radius: 50px;
}

@media screen and (max-width: 1600px) {
	.cart {
		height: 170px;
	}
}

@media screen and (max-width: 1350px) {
	.container {
		width:70%;}
	.cart {
		height: 200px;
	}
}

@media screen and (max-width: 1050px) {
	.container {
		width:80%;}
	.cart {
		height: 180px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		width:90%;
	}
	.cart {
		height: 170px;
	}
}

@media screen and (max-width: 740px) {
	.container {
		width:90%;}
	.cart {
		height: 150px;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width:90%;}
	.cart {
		height: 120px;
	}
}

@media screen and (max-width: 500px) {
	.container {
		width:90%;}
	.cart {
		height: 100px;
	}
	.winContainer{
		top: 10%;
		font-size: 400%;}
}

@media screen and (max-width: 400px) {
	.container {
		width:90%;}
	.cart {
		height: 80px;
	}
}